In [1]:
import pandas as pd

In [4]:
# 读取当前目录下的Nc_need.txt文件
df = pd.read_csv('Nc_need.txt', sep='\t', header=None, names=['Run'])
df

             Run
0      SRR400635
1      SRR400636
2      SRR400637
3      SRR400638
4      SRR400639
..           ...
846  SRR15186060
847  SRR18972872
848  SRR18972871
849  SRR18972870
850  SRR18972869

[851 rows x 1 columns]

In [5]:
df['Run'] = df['Run'].str.split(',')
df = df.explode('Run')
df

             Run
0      SRR400635
1      SRR400636
2      SRR400637
3      SRR400638
4      SRR400639
..           ...
846  SRR15186060
847  SRR18972872
848  SRR18972871
849  SRR18972870
850  SRR18972869

[894 rows x 1 columns]

In [7]:
# 保存为nc-srr.txt
df.to_csv('Nc_SRR.txt', sep='\t', header=None, index=False)